---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mot de passe oublié - EcoWatch">
  <div id="forgot-password-root"></div>
</Layout>

<script>
  import { ForgotPasswordPage } from "../../components/auth/ForgotPasswordPage";
  import { createRoot } from "react-dom/client";
  import { createElement } from "react";

  const container = document.getElementById("forgot-password-root");
  if (container) {
    const root = createRoot(container);
    root.render(createElement(ForgotPasswordPage));
  }
</script>
