---
import FormDivider from "../../components/common/FormDivider";
import SocialButtons from "../../components/common/SocialButtons";
import Layout from "../../layouts/Layout.astro";
import LoginForm from "./LoginForm";
---

<Layout>
  <div
    class="min-h-screen flex items-center justify-center bg-gray-50 dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <div>
        <div class="flex justify-center">
          <div
            class="h-12 w-12 bg-gradient-to-br from-primary-500 to-secondary-500 rounded-lg flex items-center justify-center"
          >
            <span class="text-white font-bold text-lg">EW</span>
          </div>
        </div>
        <h2
          class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white"
        >
          Connexion à votre compte
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
          Ou{" "}
          <a
            href="/auth/register"
            class="font-medium text-primary-600 hover:text-primary-500 dark:text-primary-400"
          >
            créez un nouveau compte
          </a>
        </p>
      </div>

      <div class="mt-8 space-y-8">
        <SocialButtons client:load />

        <FormDivider client:load />

        

        <LoginForm client:load />
      </div>
    </div>
  </div>
</Layout>
