---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="EcoWatch">
  <div id="register-root"></div>
</Layout>

<script>
  import { RegisterPage } from "../../components/auth/RegisterPage";
  import { TitleUpdater } from "../../components/common/TitleUpdater";
  import { LanguageProvider } from "../../contexts/LanguageContext";
  import { createRoot } from "react-dom/client";
  import { createElement, Fragment } from "react";

  const container = document.getElementById("register-root");
  if (container) {
    const root = createRoot(container);
    root.render(
      createElement(
        LanguageProvider,
        null,
        createElement(
          Fragment,
          null,
          createElement(TitleUpdater, { titleKey: "registerPageTitle" }),
          createElement(RegisterPage)
        )
      )
    );
  }
</script>
