---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Inscription - EcoWatch">
  <div id="register-root"></div>
</Layout>

<script>
  import { RegisterPage } from "../../components/auth/RegisterPage";
  import { createRoot } from "react-dom/client";
  import { createElement } from "react";

  const container = document.getElementById("register-root");
  if (container) {
    const root = createRoot(container);
    root.render(createElement(RegisterPage));
  }
</script>
