---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reset Password - EcoWatch">
  <div id="reset-password-root"></div>
</Layout>

<script>
  import { ResetPasswordPage } from "../../components/auth/ResetPasswordPage";
  import { createRoot } from "react-dom/client";
  import { createElement } from "react";

  const container = document.getElementById("reset-password-root");
  if (container) {
    const root = createRoot(container);
    root.render(createElement(ResetPasswordPage));
  }
</script>
