---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="EcoWatch">
  <div id="reset-password-root"></div>
</Layout>

<script>
  import { ResetPasswordPage } from "../../components/auth/ResetPasswordPage";
  import { TitleUpdater } from "../../components/common/TitleUpdater";
  import { LanguageProvider } from "../../contexts/LanguageContext";
  import { createRoot } from "react-dom/client";
  import { createElement, Fragment } from "react";

  const container = document.getElementById("reset-password-root");
  if (container) {
    const root = createRoot(container);
    root.render(
      createElement(
        LanguageProvider,
        null,
        createElement(
          Fragment,
          null,
          createElement(TitleUpdater, { titleKey: "resetPasswordPageTitle" }),
          createElement(ResetPasswordPage)
        )
      )
    );
  }
</script>
