---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Help & Support - EcoWatch">
  <div id="help-root"></div>
</Layout>

<script>
  import { HelpPage } from "../../components/help/HelpPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("help-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(HelpPage));
  }
</script>