---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alertes - EcoWatch">
  <div id="alerts-root"></div>
</Layout>

<script>
  import { AlertsPage } from "../components/alerts/AlertsPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("alerts-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(AlertsPage));
  }
</script>