---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Analytics - EcoWatch">
  <div id="analytics-root"></div>
</Layout>

<script>
  import { AnalyticsPage } from "../components/analytics/AnalyticsPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("analytics-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(AnalyticsPage));
  }
</script>
