---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard - EcoWatch" requireAuth={true}>
  <div id="dashboard-root"></div>
</Layout>

<script>
  import { DashboardPage } from "../components/dashboard/DashboardPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("dashboard-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(DashboardPage));
  }
</script>