---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Monitoring - EcoWatch">
  <div id="monitoring-root"></div>
</Layout>

<script>
  import { MonitoringPage } from "../components/monitoring/MonitoringPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("monitoring-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(MonitoringPage));
  }
</script>