---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Settings - EcoWatch">
  <div id="settings-root"></div>
</Layout>

<script>
  import { SettingsPage } from "../components/settings/SettingsPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("settings-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(SettingsPage));
  }
</script>