---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Users - EcoWatch">
  <div id="users-root"></div>
</Layout>

<script>
  import { UsersPage } from "../components/users/UsersPage";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const container = document.getElementById("users-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(UsersPage));
  }
</script>