---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Precipitation Data - EcoWatch">
  <div id="precipitation-root"></div>
</Layout>

<script>
  import PrecipitationPage from "../../components/data/PrecipitationPage";
  import Base from "../../components/layout/Base";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const WrappedPrecipitationPage = () => {
    return React.createElement(
      Base,
      null,
      React.createElement(PrecipitationPage)
    );
  };

  const container = document.getElementById("precipitation-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(WrappedPrecipitationPage));
  }
</script>