---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Temperature Data - EcoWatch">
  <div id="temperature-root"></div>
</Layout>

<script>
  import TemperaturePage from "../../components/data/TemperaturePage";
  import Base from "../../components/layout/Base";
  import React from "react";
  import { createRoot } from "react-dom/client";

  const WrappedTemperaturePage = () => {
    return React.createElement(
      Base,
      null,
      React.createElement(TemperaturePage)
    );
  };

  const container = document.getElementById("temperature-root");
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(WrappedTemperaturePage));
  }
</script>